In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
tf.__version__

'2.12.0'

In [2]:
df =pd.read_csv("/content/Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# split the data into dependent and independent varaible

In [4]:
x= df.iloc[:,3:-1]
y=df.iloc[:,-1]

In [5]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [6]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [7]:
x=pd.get_dummies(x,columns=['Geography','Gender'])
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,0,1,0

In [8]:
x=x.drop(['Geography_France','Gender_Female'],axis=1)

In [9]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_stand =sc.fit_transform(x)
x_stand

array([[-0.32622142,  0.29351742, -1.04175968, ..., -0.57873591,
        -0.57380915, -1.09598752],
       [-0.44003595,  0.19816383, -1.38753759, ..., -0.57873591,
         1.74273971, -1.09598752],
       [-1.53679418,  0.29351742,  1.03290776, ..., -0.57873591,
        -0.57380915, -1.09598752],
       ...,
       [ 0.60498839, -0.27860412,  0.68712986, ..., -0.57873591,
        -0.57380915, -1.09598752],
       [ 1.25683526,  0.29351742, -0.69598177, ...,  1.72790383,
        -0.57380915,  0.91241915],
       [ 1.46377078, -1.04143285, -0.35020386, ..., -0.57873591,
        -0.57380915, -1.09598752]])

In [15]:
# split the data into training and testing

In [17]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x_stand,y,test_size=0.2,random_state=0)

## Building Deep Neural Network(MultilayerPerceptron)

In [21]:
from tensorflow import keras

In [22]:
# Create API
dnn =tf.keras.models.Sequential()
# Adding hidden layer
dnn.add(tf.keras.layers.Dense(units=6,activation='relu'))
# Adding Second hidden layer
dnn.add(tf.keras.layers.Dense(units=6,activation='relu'))

# Adding output
dnn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

# Train the model
dnn.compile(optimizer='adam',loss='binary_crossentropy',metrics=["accuracy"])

# apply training dataset and fit the model
dnn.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 6s 3ms/step - loss: 0.5166 - accuracy: 0.7796
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4696 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4499 - accuracy: 0.7965
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4367 - accuracy: 0.7991
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4274 - accuracy: 0.8055
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4213 - accuracy: 0.8095
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4163 - accuracy: 0.8154
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4121 - accuracy: 0.8201
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4085 - accuracy: 0.8246
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4046 - accuracy: 0.8270
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4012 - accuracy: 0.8289
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3975 - accuracy: 0.8330
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3942 - accuracy: 0.8335
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3906 - accuracy: 0.8380
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3868 - accuracy: 0.8370
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3825 - accuracy: 0.8390
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3776 - accuracy: 0.8424
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3731 - accuracy: 0.8445
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3685 - accuracy: 0.8476
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3642 - accuracy: 0.8520
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3602 - accuracy: 0.8549
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3568 - accuracy: 0.8566
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3543 - accuracy: 0.8580
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3516 - accuracy: 0.8595
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3500 - accuracy: 0.8602
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3482 - accuracy: 0.8596
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3469 - accuracy: 0.8605
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3455 - accuracy: 0.8614
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3444 - accuracy: 0.8606
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3437 - accuracy: 0.8621
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3430 - accuracy: 0.8624
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3420 - accuracy: 0.8622
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3417 - accuracy: 0.8620
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3410 - accuracy: 0.8634
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3407 - accuracy: 0.8629
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3403 - accuracy: 0.8639
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3400 - accuracy: 0.8635
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3396 - accuracy: 0.8631
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3397 - accuracy: 0.8631
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3390 - accuracy: 0.8629
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3392 - accuracy: 0.8631
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3387 - accuracy: 0.8640
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3385 - accuracy: 0.8635
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3383 - accuracy: 0.8652
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3377 - accuracy: 0.8646
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3381 - accuracy: 0.8635
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3377 - accuracy: 0.8649
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3377 - accuracy: 0.8652
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3374 - accuracy: 0.8635
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3372 - accuracy: 0.8654
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3373 - accuracy: 0.8648
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3369 - accuracy: 0.8634
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3367 - accuracy: 0.8648
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3368 - accuracy: 0.8641
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3365 - accuracy: 0.8645
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3366 - accuracy: 0.8659
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3363 - accuracy: 0.8656
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3358 - accuracy: 0.8648
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3359 - accuracy: 0.8654
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3358 - accuracy: 0.8652
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3361 - accuracy: 0.8643
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3359 - accuracy: 0.8650
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3358 - accuracy: 0.8654
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3355 - accuracy: 0.8651
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3354 - accuracy: 0.8664
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3353 - accuracy: 0.8649
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3354 - accuracy: 0.8650
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3352 - accuracy: 0.8648
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3351 - accuracy: 0.8654
Epoch 70/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3351 - accuracy: 0.8655
Epoch 71/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3348 - accuracy: 0.8656
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8655
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3349 - accuracy: 0.8652
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3348 - accuracy: 0.8655
Epoch 75/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3343 - accuracy: 0.8661
Epoch 76/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3347 - accuracy: 0.8660
Epoch 77/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3347 - accuracy: 0.8664
Epoch 78/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3345 - accuracy: 0.8658
Epoch 79/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3348 - accuracy: 0.8659
Epoch 80/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3347 - accuracy: 0.8666
Epoch 81/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3343 - accuracy: 0.8646
Epoch 82/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3345 - accuracy: 0.8658
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3346 - accuracy: 0.8668
Epoch 84/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8654
Epoch 85/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3344 - accuracy: 0.8669
Epoch 86/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8673
Epoch 87/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3339 - accuracy: 0.8659
Epoch 88/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3339 - accuracy: 0.8662
Epoch 89/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3340 - accuracy: 0.8652
Epoch 90/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3337 - accuracy: 0.8666
Epoch 91/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3335 - accuracy: 0.8664
Epoch 92/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3337 - accuracy: 0.8661
Epoch 93/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3341 - accuracy: 0.8651
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3334 - accuracy: 0.8656
Epoch 95/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3340 - accuracy: 0.8666
Epoch 96/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3339 - accuracy: 0.8668
Epoch 97/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3338 - accuracy: 0.8665
Epoch 98/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3336 - accuracy: 0.8652
Epoch 99/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3337 - accuracy: 0.8661
Epoch 100/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3334 - accuracy: 0.8665

In [23]:
# Predict the test result
y_pred =dnn.predict(x_test)

63/63 [==============================] - 0s 1ms/step

In [24]:
y_pred =(y_pred>0.5)

In [25]:
from sklearn.metrics import accuracy_score,classification_report

In [26]:
accuracy_score(y_test,y_pred)

0.8605

In [28]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.94      0.92      1595
           1       0.71      0.53      0.61       405

    accuracy                           0.86      2000
   macro avg       0.80      0.74      0.76      2000
weighted avg       0.85      0.86      0.85      2000